## Operations on Lists

- Arithmetic
- Membership
- Loop

In [1]:
L1 = [1, 2, 3, 4, 5]
L2 = [5, 6, 7, 8, 9]

In [2]:
L1 + L2 #concatination

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [4]:
L1 * 4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [5]:
# Membership

L1 = [1, 2, 3, 4, 5]
L2 = [5, 6, [7, 8, 9]]

In [6]:
print(40 in L1)

False

In [7]:
print(3 in L1)

True

In [9]:
print([7, 8, 9] not in L2)

False

In [10]:
# Loop
L1 = [1, 2, 3, 4, 5]

for i in L1:
    print(i)

1
2
3
4
5